<!DOCTYPE html>
{% load static %}


<html>
<head lang="en">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

<!--  prevent favicon -->
<link rel="icon" href="data:,">

<link type="text/css" rel="stylesheet" href="{% static 'mainapp/base.css' %}">


<title>{% block title %}mdpad – render markdown from etherpads{% endblock %}</title>

</head>
<body>

{# `utc` means "unit test comment". This is a simple mechanism to be able to test if the desired content actually was delivered #}
<!--utc_landing_page-->

<div class="main">
{% block content %}
    <h1>Render Markdown from Pad</h1>

    <b>Enter pad url:</b>
        <form method="post" action="{% url 'landingpage'%}" novalidate>
        {% csrf_token %}

        <input type="hidden" name="field0" value="some hidden value" >
        <input class="form_input" type="text" name="field1" value="https://" ><br>

        <button type="submit">Submit</button>
        </form>
{% endblock %}
<hr>
<div align="center">
    <a href="/about">about mdpad</a><br>
    made with <a href="https://www.djangoproject.com/">django</a> and
    <a href="https://django-markdownify.readthedocs.io/">markdownify</a>
</div>
</div>

</body>
</html>
