<!DOCTYPE html>
{% load static %}


<html>
<head lang="en">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

<!--  prevent favicon -->
<link rel="icon" href="data:,">

<link type="text/css" rel="stylesheet" href="{% static 'mainapp/base.css' %}">


<title>{% block title %}markpad – render markdown from etherpads{% endblock %}</title>

</head>
<body>
<div id="outer-container">

{# `utc` means "unit test comment". This is a simple mechanism to be able to test if the desired content actually was delivered #}
<!--utc_landing_page-->

<div class="headerbar">
    <div class="header">

    <a href="/">markpad – markdown rendering from etherpads</a>
    </div>
{% block header_warning %}
{% endblock %}
</div>



<div id="id_main" class="main">
{% block content %}
    <h1 id="h1x">Render Markdown from Pad</h1>

    <b>Enter pad url:</b>
        <form method="post" action="{% url 'landingpage'%}" novalidate>
        {% csrf_token %}

        <input type="hidden" name="field0" value="some hidden value" >
        <input class="form_input" type="text" name="field1" value="https://" ><br>

        <button type="submit">Submit</button>
        </form>
{% endblock %}
</div>

<div id="vertical-spacer">
</div>
</div> <!-- end of outer container -->
{% block footer %}
<!-- <footer> -->

<div class="footer">
<div class="footerbar">
    <div class="footer-content">
        <a href="/about">about markpad</a> |
        <a href="/legal-notice">legal notice</a> |
        ... made with <a href="https://www.djangoproject.com">django</a> and
        <a href="https://django-bleach.readthedocs.io">django-bleach</a> |
        hosted on <a href="https://uberspace.de/">uberspace</a> 

    </div>
</div>
</div>
<!-- </footer> -->
{% endblock %}

</body>

</html>
