{% extends "mainapp/base.html" %}
{% load extra_filters %}
{% load bleach_tags %}



{% block title %}simple markdown preview{% endblock %}


{% block header_warning %}
<div class="headerbar-warning">
<div class="header">
<div class="fs70">
<b>Warning:</b> The following content is read from a public source that can be changed by anyone with the url.
</div>
</div>
</div>
{% endblock %}

{% block content %}

<div class="box_base box_top_content modest_links">

{{ctn.src_txt|render_markdown|bleach}}

</div>

{% endblock %}

